* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background:#10d392;
}

h1.cabecalho {
  margin: 30px auto;
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
  color: white;
}

button {
  cursor: pointer;
}
