.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: 150ms;
}

.tarefas li span {
  display:flex;
  align-items: center;
}

.tarefas li:hover {
  background: rgb(39, 248, 133);
}

.tarefas li .edit {
  margin-right: 15px;
  color: #1379ffdc;

}

.tarefas li .delete {
  margin-right: 15px;
  color: #f04c64;
}

.tarefas li .confirm {
  margin-right: 15px;
  color: #249c0b;
}

/* .tarefas :hover {
  color: white;
} */
